@import '../general/colors.scss';

#admin-navigation {
  width: 12rem;
  border-right: 1px solid $gray300;

  .admin-nav-link {
    padding: .75rem .5rem;
    border-bottom: 1px solid $gray300;

    &:hover {
      background: $gray100;
    }
  }
}

.admin-content {
  flex: 1;
  padding: 1rem;

  .pagination {
    margin-bottom: 1rem;

    .page {
      padding: .25rem .5rem;
      background: $green400;
      color: $black;

      a {
        color: $black;
      }
    }
  }

  .file-preview {
    img {
      width: 10rem;
    }
  }
}
