<%= render PageWrappers::PageComponent.new do %>
  <h2>Searchers</h2>
  <% if @searchers.load.size.positive? %>
    <table class="profile-table" cellSpacing="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Cell</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @searchers.each do |searcher| %>
          <tr>
            <td><%= searcher.name %></td>
            <td><%= searcher.cell.q %>:<%= searcher.cell.r %></td>
            <td class="actions"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>You don't have searchers in the world.</p>
    <p>You can put them to the map at home page.</p>
  <% end %>
<% end %>
