#world-map {
  display: flex;
  padding-top: 2rem;

  #world-map-wrapper {
    width: 64rem;
    height: 40rem;
    overflow: scroll;

    #world-map-canvas {
    }
  }

  #world-map-forms {
    width: 25rem;
  }
}
