<%= render PageWrappers::PageComponent.new do %>
  <h2>Bottles</h2>
  <% if @bottles.load.size.positive? %>
    <table class="profile-table" cellSpacing="0">
      <thead>
        <tr>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @bottles.each do |bottle| %>
          <tr>
            <td class="actions"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>You didn't fish out any bottles yet.</p>
  <% end %>
<% end %>
